html {
  box-sizing: border-box;
  --red: #ff7c7c;
  --yellow: #ffe084;
  --blue: #8deaff;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #2a2b2e;
  color: #f5f5f5;
  font-size: 1rem;
  font-family: "Nunito", "Arial Rounded", "Arial", sans-serif;
}

main {
  max-width: 900px;
  margin: auto;
  padding-inline: 2rem;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: baseline;
    padding-inline: 3.5rem;
    max-width: 960px;
    margin-inline: auto;
  }
  main {
    padding-inline: 2.8rem;
  }
}

h1,
h3 {
  text-align: center;
}

h1,
h2 {
  font-size: 1.8rem;
  margin-top: 1.4rem;
  margin-bottom: 0;
}

h1 {
  font-weight: 600;
  padding-block: 0.5rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  h1 {
    margin-right: auto;
  }
}

h3 {
  font-size: 1.125rem;
  margin-top: 0;
  text-align: left;
  color: var(--yellow);
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

a {
  color: #ffffff;
}

a:hover {
  color: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
}

em {
  font-style: normal;
  font-weight: bold;
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: #7fffd4;
}

.no-bold {
  font-weight: normal;
}

/* main menu components */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
}

.menu-item {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 0;
  margin: 0.5rem 1ch 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .menu-item:last-child {
    margin-right: 0;
  }
}

.menu-item:nth-child(n + 2)::before {
  content: "/";
  color: #f5f5f5;
  position: absolute;
  left: -1.2ch;
}

/* main menu components - coloured dots following the hover */
.menu-item-about::after {
  color: var(--red);
}

.menu-item-projects::after {
  color: var(--blue);
}

.menu-item-cv::after {
  color: #7fffd4;
}

.menu-item-contact::after {
  color: var(--yellow);
}

.menu-item::after {
  content: "•";
  display: block;
  text-align: center;
  margin-top: 0.2rem;
  visibility: hidden;
}

.menu-item:hover::after {
  visibility: visible;
}

/* main page flex container */
.main-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0 2.5rem;
}

/* main photo */
.profile-photo {
  display: block;
  height: auto;
  border-radius: 50%;
  margin-top: 1.5rem;
  width: clamp(11rem, 9.5rem + 6.6667vw, 13rem);
}

/* about component */
.about-section {
  max-width: 80ch;
  margin-inline: auto;
}

/* projects components - heading and main project space */
.projects {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.projects-case {
  padding-top: 1.8rem;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .projects-case {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 1.5rem 1.2rem;
    margin-block: 2rem;
  }
}

/* projects components - info table (Type, Stack and buttons) */
.projects-info {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 0.8rem;
  margin-block: 1rem;
}

.projects-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 10rem;
}

.projects-subheading {
  flex: 0 0 100%;
  text-align: left;
  font-weight: normal;
  line-height: 1.3;
  padding-right: 0.8rem;
  margin-block: 0;
}

.projects-meta p {
  flex: 1;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

.projects-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.projects-button {
  text-decoration: none;
  text-align: center;
  font-style: italic;
  min-width: 4.5rem;
  padding: 0.3rem 0.2rem;
  border: 1px solid var(--red);
  border-radius: 1rem;
}

.projects-button:hover {
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 1rem;
}

/* projects components - projects screenshots and their responsive layout changes */
.projects-screenshot {
  display: block;
  margin-inline: auto;
  margin-block: 1.5rem;
  border: 2px solid #adadad;
  border-radius: 5px;
  min-width: 70vw;
  max-width: 100%;
}

@media screen and (min-width: 425px) {
  .projects-screenshot {
    min-width: 40vw;
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .projects-screenshot {
    min-width: 0;
    max-width: 100%;
  }
}

/*  projects components - layout change of Projects */
@media screen and (min-width: 768px) {
  .projects-column {
    flex: 1 1 50%;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .projects-column-line {
    border-left: 1px solid var(--red);
    padding: 1rem 0.5rem 0 2rem;
  }
}

@media screen and (min-width: 768px) {
  .projects-column-reverse {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 1rem;
  }
}

/* cv */
.cv {
  text-transform: uppercase;
}

.cv-link {
  font-style: normal;
  color: #7fffd4;
}

.cv-link:hover {
  color: #f5f5f5;
}

/* foooter */
.footer {
  margin: 2.5rem auto;
  max-width: 900px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-block: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (min-width: 392px) {
  .footer-links {
    flex-direction: row;
  }
}

.footer-link {
  font-style: normal;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.footer-link:hover {
  color: var(--blue);
}

.footer-icon {
  display: inline;
}

.container-big-icons {
  display: flex;
  gap: 1.5rem;
  padding-inline: 0.5rem;
}

.footer-icon-text-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.copy {
  font-style: normal;
  text-align: right;
  margin-block: 1rem;
  font-size: 0.8rem;
}
